fastapi
uvicorn[standard]
python-multipart
pydantic
sqlalchemy
psycopg2-binary
jinja2
python-dotenv
scikit-learn
nltk
pandas
numpy
openpyxl
joblib
aiofiles
httpx
pdfminer.six           # For parsing PDFs
docx2txt               # For parsing Word documents
pdfplumber             # For parsing PDFs
python-docx            # For parsing Word (docx) documents
groq                   # For LLM API
spacy                  # For NLP noun chunk extraction

